
<!--  			<li ng-repeat="cust in svcProviders | orderBy:'cust.name'"><a href="#">{{ cust.name }}</a></li>
-->
                <div class="col-md-3 col-sm-6">
                    <div class="footer-menu">
                        <h2 class="footer-wid-title">Categories</h2>
                        <ul>
                        	<li ng-repeat="cust in categories | orderBy:'cust.name'"><a href="#">{{ cust.name }}</a></li>
                        </ul>                        
                    </div>
                </div>